$black-color : #070B0C;
$green-color : #44D601;
$yellow-color : #D8FA2C;
$light-color : #212529;
$light-grey : #eee;
$secondary : #6c757d;
$light-danger : #f5c2c7;
$hard-night : rgb(0,0,0,60%);
$night : rgb(0,0,0,30%);